.promo {
    &__animated-section {
        background-color: @main-red;
        color: #fff;
        padding: 15vh 0;
        @media screen and (max-width: @screen-md){
            padding-top: 5vh;
        }
    }

    &__section {
    }
}
.animated-section {
    &__container {
        overflow-x: hidden;
    }

    &__row {
        position: relative;
        grid-template-rows: 1fr;
        @media screen and (min-width: @screen-md) {
            min-height: 50vh;
        }
        &:first-child {
            min-height: 85vh;
            @media screen and (max-width: @screen-md) {
                display: flex;
                flex-direction: column;
                align-items: center;
                .animated-section__images {
                    order: 2;
                }
                .animated-section__content {
                    order: 1;
                    margin-bottom: 20px;
                }
            }
        }
        &:nth-last-child(2) {
            @media screen and (min-width: @screen-md) {
                // min-height: 570px;
                .animated-section__content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                padding: 25px 0;
                border-top: 1px solid rgba(255, 255, 255, 0.3);
                border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            }
        }
        &--centered-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            .animated-section__content {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 50vh;
            }
            .animated-section__text {
                max-width: 500px;
                text-align: center;
                margin: 0 auto;
            }
        }
    }

    &__images {
        position: relative;
        min-height: 450px;
        @media screen and (max-width: @screen-md) {
            max-width: 250px;
            margin: 0 auto;
        }
    }

    &__image {
        position: absolute;
        top: 0;
        right: 20%;
        height: 40vh;
        @media screen and (max-width: @screen-md){
            height: 50vh;
        }
        &--second {
            right: 0;
        }
        &--iphone-front-2 {
            right: 0;
            opacity: 0;
            height: 550px;
        }
        &--a14 {
            position: static;
            height: 220px;
            width: 220px;
            opacity: 0;
        }
        img {
            object-fit: contain;
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    &__image-placeholder {
        &--iphone-front {
            position: absolute;
            top: 0;
            width: 100%;
        }
    }

    &__content {
        @media screen and (max-width: @screen-md) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__logo {
        max-width: 200px;
        margin-bottom: 20px;
    }

    &__title {
        margin-bottom: 1rem;
    }

    &__sub-title {
    }

    &__labels {
        display: flex;
        justify-content: start;
        margin-top: 20px;
    }

    &__arrow {
        position: absolute;
        right: 0;
        top: 70%;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath fill='%23fff' d='M11 21.883l-6.235-7.527-.765.644 7.521 9 7.479-9-.764-.645-6.236 7.529v-21.884h-1v21.883z'/%3E%3C/svg%3E");
        width: 20px;
        height: 45px;
        widows: 20px;
        background-repeat: no-repeat;
        cursor: pointer;
        animation: 2.5s ease-in infinite reverse arrow-translate;
    }

    &__icon {
        width: 50px;
        height: auto;
        margin-bottom: 1rem;
    }

    &__image-placeholder {
    }
}
.bg-stripes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

[data-animate-component]{
    transition: all .2s linear;
}
[data-animate-container="bg-stripe-1"] {
    &[data-animate-pos="start"] {
        position: relative;
        height: 100%;
        [data-animate-component="bg-stripe-1"] {
            height: 100%;
            &:after {
                content: "";
                transform: rotate(340deg);
                display: block;
                position: absolute;
                width: 120vw;
                bottom: 0%;
                left: -5%;
                height: 1px;
                background: rgba(255, 255, 255, 0.4);
            }
        }
    }
    &[data-animate-pos="end"] {
        position: relative;
        top: 0;
    }
}

@keyframes arrow-translate {
    0% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0);
    }
}
[data-animate-container="iphone-back"] {
    &[data-animate-pos="start"] {
        &.animated-section__image-placeholder {
            margin: 0 auto;
            max-width: 250px;
        }
        @media screen and (max-width: @screen-md) {
            width: 100vw;
        }
    }
    &[data-animate-pos="end"] {
        @media screen and (max-width: @screen-md) {
            width: 250px;
            margin: 0 auto;
        }
    }
}
[data-animate-component="iphone-back"] {
    z-index: 25;
}
[data-animate-component="iphone-front"] {
    z-index: 30;
}
[data-animate-container="iphone-front-2"][data-animate-pos="start"] {
    min-height: 570px;
}
[data-animate-container="a14-icon"][data-animate-pos="end"]{
    width: 220px;
    height: 220px;
    margin-bottom: 25px;
}

// =============================================================================================
.promo-label {
    &__item {
        flex: 0 0 auto;
        width: 85px;
        height: 85px;
        display: block;
        border-radius: 50%;
        background-color: @main-violet;
        padding: 7px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__old-price {
        font-size: 14px;
        text-decoration: line-through;
    }

    &__final-price {
        font-weight: bold;
        font-size: 20px;
        line-height: 1em;
        text-align: center;
    }

    &__item--small {
        width: 70px;
        height: 70px;
        margin-left: 10px;
        margin-top: 40px;
    }

    &__icon {
    }

    &__text {
        font-size: 13px;
        text-align: center;
        line-height: 1em;
    }
}
.promo-section {
    &__container {
    }

    &__body {
    }

    &__title {
    }

    &__specifications {
    }
}
.product-specifications {
    &__table {
    }
}
.specifications-table {
    &__title {
    }

    &__item {
    }

    &__row {
    }
}
