.promo {
    overflow-x: hidden;
    &__animated-section {
        background-color: @main-red;
        color: #fff;
        padding: 15vh 0;
        overflow-x: hidden;
        @media screen and (max-width: @screen-md) {
            padding-top: 5vh;
        }
    }

    &__section {
    }
}
.animated-section {

    &__row {
        position: relative;
        grid-template-rows: 1fr;
        margin-bottom: 20px;
        @media screen and (min-width: @screen-md) {
            margin-bottom: 0;
            min-height: 50vh;
        }
        &:first-child {
            min-height: 85vh;
            @media screen and (max-width: @screen-md) {
                display: flex;
                flex-direction: column;
                align-items: center;
                .animated-section__images {
                    order: 2;
                }
                .animated-section__content {
                    order: 1;
                    margin-bottom: 20px;
                }
            }
        }
        &:nth-last-child(2) {
            @media screen and (min-width: @screen-md) {
                // min-height: 570px;
                .animated-section__content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                padding: 25px 0;
                border-top: 1px solid rgba(255, 255, 255, 0.3);
                border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            }
        }
        &--centered-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            .animated-section__content {
                display: flex;
                flex-direction: column;
                align-items: center;
                @media screen and (min-width: @screen-md) {
                    margin-top: 50vh;
                }
            }
            .animated-section__text {
                max-width: 500px;
                text-align: center;
                margin: 0 auto;
            }
        }
    }

    &__images {
        position: relative;
        min-height: 570px;
        @media screen and (max-width: @screen-md) {
            max-width: 250px;
            margin: 0 auto;
        }
    }

    &__image {
        position: absolute;
        top: 0;
        right: 20%;
        height: 40vh;
        @media screen and (max-width: @screen-md) {
            height: 50vh;
        }
        &--second {
            right: 0;
        }
        &--iphone-front-2 {
            right: 0;
            opacity: 0;
            height: 550px;
        }
        &--a14 {
            position: static;
            height: 220px;
            width: 220px;
            opacity: 0;
        }
        img {
            object-fit: contain;
            display: block;
            width: auto;
            max-width: none;
            height: 100%;
            @media screen and (max-width: @screen-md) {
                margin: 0 auto;
            }
        }
    }

    &__content {
        @media screen and (max-width: @screen-md) {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 400px;
            margin: 0 auto;
            text-align: center;
        }
    }

    &__logo {
        max-width: 200px;
        margin-bottom: 20px;
    }

    &__title {
        margin-bottom: 1rem;
    }

    &__sub-title {
    }

    &__labels {
        display: flex;
        justify-content: start;
        margin-top: 20px;
    }

    &__arrow {
        position: absolute;
        right: 0;
        top: 70%;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath fill='%23fff' d='M11 21.883l-6.235-7.527-.765.644 7.521 9 7.479-9-.764-.645-6.236 7.529v-21.884h-1v21.883z'/%3E%3C/svg%3E");
        width: 20px;
        height: 45px;
        widows: 20px;
        background-repeat: no-repeat;
        cursor: pointer;
        animation: 2.5s ease-in infinite reverse arrow-translate;
    }

    &__icon {
        width: 50px;
        height: auto;
        margin-bottom: 1rem;
    }

    &__image-placeholder {
    }
}
.bg-stripes {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.promo-label {
    &__item {
        flex: 0 0 auto;
        width: 85px;
        height: 85px;
        display: block;
        border-radius: 50%;
        background-color: @main-violet;
        padding: 7px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: @promo-label;
    }

    &__old-price {
        font-size: 14px;
        text-decoration: line-through;
    }

    &__final-price {
        font-weight: bold;
        font-size: 20px;
        line-height: 1em;
        text-align: center;
    }

    &__item--small {
        width: 70px;
        height: 70px;
        margin-left: 10px;
        margin-top: 40px;
        z-index: unset;
    }

    &__icon {
        max-width: 35px;
    }

    &__text {
        text-align: center;
    }
}
.promo-section {
    &__container {
    }

    &__body {
    }

    &__title {
    }

    &__specifications {
    }
}
.product-specifications {
    &__table {
    }
}
.specifications-table {
    &__title {
    }

    &__item {
    }

    &__row {
    }
}
